.h2o-main-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 10px;

  &__title {
    font-size: clamp(18px, 1.7361vw, 25px);
    line-height: 30px;
    font-weight: 700;
    letter-spacing: -0.408px;
    color: rgba(var(--cl-a), 1);
    font-family: var(--font-family);
  }

  &__count {
    margin-bottom: calc(clamp(5px, .6944vw, 10px) * -1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.288px;
    color: rgba(var(--cl-a), 0.5);
    font-family: var(--font-family);
  }
}
